.greetings {
  display: flex;
  flex-direction: column;
  margin: 70px 0 40px;
}

.greetings__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 40px 0 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .greetings {
    margin: calc(70px + (232 - 70) * (1280px - 100vw) / (1280 - 768)) 0 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .greetings {
    margin: calc(232px - (232 - 56) * (768px - 100vw) / (768 - 320)) 0 calc(40px + (80 - 40) * (768px - 100vw) / (768 - 320));
  }

  .greetings__title {
    margin: calc(40px + (50 - 40) * (768px - 100vw) / (768 - 320)) 0 0;
  }
}

@media screen and (max-width: 560px) {
  .greetings {
    align-items: center;
  }
}