.form {
  display: flex;
  flex-direction: column;
  height: 380px;
}

.form__label {
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}

.form__input {
  color: #fff;
  height: 46px;
  background-color: #2f2f2f;
  border: none;
  outline: none;
  border-radius: 8px;
  margin: 10px 0 4px;
  padding: 0;
}

.form__input:hover {
  background-color: #3f3f3f;
}

.form__input:focus {
  outline: #4285f4 1px solid;
}

.form__input_type_error {
  color: #ee3465;
}

.form__error-caption {
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  min-height: 12px;
  margin: 0 0 4px;
  padding: 0;
  opacity: 0;
}

.form__error-caption_active {
  opacity: 1;
}

.form__submit-button {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 13px 0 15px;
  margin: auto 0 0;
  transition: opacity .4s ease-in-out;
}

.form__submit-button:hover {
  opacity: .8;
}

.form-container__bottom {
  display: flex;
  justify-content: center;
  margin: 17px 0 0;
}

.form-container__text {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-align: center;
  margin: 0 6px 0 0;
}

.form-container__link {
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-decoration: none;
  transition: opacity .4s ease-in-out;
}

.form-container__link:hover {
  opacity: .7;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .form {
    height: calc(380px + (468 - 380) * (768px - 100vw) / (768 - 320));
  }

  .form__submit-button {
    font-size: calc(14px - (14 - 12) * (768px - 100vw) / (768 - 320));
    padding: calc(13px + (15 - 13) * (768px - 100vw) / (768 - 320)) 0 15px;
  }

  .form-container__bottom {
    margin: calc(17px - (17 - 14) * (768px - 100vw) / (768 - 320)) 0 0;
  }

  .form-container__text {
    font-size: calc(14px - (14 - 12) * (768px - 100vw) / (768 - 320));
  }

  .form-container__link {
    font-size: calc(14px - (14 - 12) * (768px - 100vw) / (768 - 320));
  }
}

@media screen and (max-width: 560px) {
  .form__submit-button {
    line-height: 1.25;
  }

  .form-container__text {
    line-height: 1.25;
  }

  .form-container__link {
    line-height: 1.25;
  }
}