.menu {
  display: flex;
  position: relative;
  display: none;
}

.menu__burger-button {
  background-color: transparent;
  border: none;
  background-image: url('../../images/burger_button.svg');
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: opacity .4s ease-in-out;
}

.menu__burger-button:hover {
  opacity: .8;
}

.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
  height: 100vh;
  background-color: #202020;
  position: fixed;
  top: 0;
  right: -520px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out, visibility .5s ease-in-out;
}

.menu__container::before {
  content: '';
  position: absolute;
  top: 0;
  left: -768px;
  z-index: 1;
  width: 768px;
  height: 100vh;
  background-color: #000;
  opacity: .3;
}

.menu__container_open {
  visibility: visible;
  opacity: 1;
  transform: translateX(-520px);
}

.menu__close-button {
  background-color: transparent;
  border: none;
  background-image: url('../../images/close_button.svg');
  width: 32px;
  height: 32px;
  background-size: cover;
  cursor: pointer;
  align-self: flex-end;
  margin: 22px 22px 0 0;
  transition: transform 1s ease-in-out, opacity .4s ease-in-out;
}

.menu__close-button:hover {
  opacity: .8;
}

.menu__container_open .menu__close-button {
  transform: rotate(180deg);
}

.menu__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 106px 0;
}

.menu__item {
  margin: 0 0 28px;
}

.menu__tab {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  transition: opacity .4s ease-in-out;
}

.menu__tab_active {
  padding: 0 0 4px;
  border-bottom: 2px #fff solid;
}

.menu__tab:hover {
  opacity: .7;
}

.menu__account-tab {
  font-size: 14px;
  line-height: 1.14;
  background-color: #313131;
  border-radius: 20px;
  padding: 8px 20px;
  margin: auto 0 90px;
}


@media screen and (max-width: 768px) {
  .menu {
    display: flex;
  }
}

@media screen and (max-width: 530px) {
  .menu__burger-button {
    background-size: contain;
    width: 41px;
    height: 43px;
  }
}

@media screen and (min-width: 320px) and (max-width: 520px) {
  .menu__container {
    width: calc(520px - (520 - 320) * (520px - 100vw) / (520 - 320));
  }

  .menu__close-button {
    margin: calc(22px - (22 - 13) * (520px - 100vw) / (520 - 320)) calc(22px - (22 - 13) * (520px - 100vw) / (520 - 320)) 0 0;
  }

  .menu__list {
    margin: calc(106px - (106 - 100) * (520px - 100vw) / (520 - 320)) 0;
  }

  .menu__item {
    margin: 0 0 calc(28px - (28 - 24) * (520px - 100vw) / (520 - 320));
  }

  .menu__tab_active {
    padding: 0 0 calc(4px + (7 - 4) * (520px - 100vw) / (520 - 320));
  }
}