.about-project {
  min-height: 608px;
  padding: 0 70px;
}

.about-project__list {
  margin: 70px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.about-project__item {
  max-width: 550px;
}

.about-project__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-project__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  margin: 26px 0 0;
}

.about-project__timeline {
  display: grid;
  grid-template-columns: 20% 1fr;
  margin: 110px 0 0;
}

.about-project__timeline-part {
  text-align: center;
}

.about-project__timeline-period {
  background-color: #303030;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.214;
  margin: 0;
  padding: 9px 0;
}

.about-project__timeline-period_theme_green {
  background-color: #3ddc84;
  color: #000;
}

.about-project__timeline-capture {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  margin: 16px 0 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .about-project {
    padding: 0 calc(70px - (70 - 50) * (1280px - 100vw) / (1280 - 768));
    min-height: calc(608px - (608 - 585) * (1280px - 100vw) / (1280 - 768));
  }

  .about-project__list {
    gap: calc(40px - (40 - 30) * (1280px - 100vw) / (1280 - 768));
  }

  .about-project__item {
    max-width: calc(550px - (550 - 319) * (1280px - 100vw) / (1280 - 768));
  }

  .about-project__text {
    margin: calc(26px - (26 - 22) * (1280px - 100vw) / (1280 - 768)) 0 0;
    font-size: calc(14px - (14 - 12) * (1280px - 100vw) / (1280 - 768));
  }

  .about-project__timeline {
    margin: calc(110px - (110 - 93) * (1280px - 100vw) / (1280 - 768)) 0 0;
  }
}

@media screen and (min-width: 531px) and (max-width: 768px) {
  .about-project__text {
    line-height: 1.5;
  }

  .about-project__timeline {
    grid-template-columns: 21% 1fr;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .about-project {
    padding: 0 calc(50px - (50 - 18) * (768px - 100vw) / (768 - 320));
    min-height: calc(585px + (641 - 585) * (768px - 100vw) / (768 - 320));
  }

  .about-project__list {
    margin: calc(70px - (70 - 60) * (768px - 100vw) / (768 - 320)) 0 0;
  }

  .about-project__title {
    font-size: calc(20px - (20 - 18) * (768px - 100vw) / (768 - 320));
  }

  .about-project__text {
    font-size: calc(12px - (12 - 11) * (768px - 100vw) / (768 - 320));
    margin: calc(22px - (22 - 16) * (768px - 100vw) / (768 - 320)) 0 0;
  }

  .about-project__timeline {
    margin: calc(93px - (93 - 60) * (768px - 100vw) / (768 - 320)) 0 0;
    ;
  }

  .about-project__timeline-period {
    font-size: calc(14px - (14 - 11) * (768px - 100vw) / (768 - 320));
    padding: calc(9px + (11 - 9) * (768px - 100vw) / (768 - 320)) 0;
  }

  .about-project__timeline-capture {
    font-size: calc(14px - (14 - 11) * (768px - 100vw) / (768 - 320));
    margin: calc(16px - (16 - 10) * (768px - 100vw) / (768 - 320)) 0 0;
    font-weight: 400;
  }
}

@media screen and (max-width: 530px) {
  .about-project__list {
    flex-direction: column;
    gap: 56px;
  }

  .about-project__title {
    line-height: 1.22;
  }

  .about-project__text {
    line-height: 1.45;
  }

  .about-project__timeline {
    grid-template-columns: 35% 1fr;
  }
}