.techs {
  padding: 0 70px;
  background-color: #272727;
  min-height: 625px;
}

.techs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__title {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.04em;
  margin: 90px 0 0;
}

.techs__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.04em;
  max-width: 460px;
  text-align: center;
  margin: 26px 0 0;
}

.techs__list {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 100px 0 0;
  padding: 0;
}

.techs__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.04em;
  background-color: #303030;
  width: 90px;
  text-align: center;
  padding: 22px 0 21px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .techs {
    padding: 0 calc(70px - (70 - 50) * (1280px - 100vw) / (1280 - 768));
    min-height: calc(625px - (625 - 567) * (1280px - 100vw) / (1280 - 768));
  }

  .techs__title {
    margin: calc(90px - (90 - 80) * (1280px - 100vw) / (1280 - 768)) 0 0;
  }

  .techs__text {
    font-size: calc(14px - (14 - 12) * (1280px - 100vw) / (1280 - 768));
    margin: calc(26px - (26 - 22) * (1280px - 100vw) / (1280 - 768)) 0 0;
  }

  .techs__list {
    margin: calc(100px - (100 - 83) * (1280px - 100vw) / (1280 - 768)) 0 0;
  }

  .techs__item {
    width: calc(90px - (90 - 84) * (1280px - 100vw) / (1280 - 768));
    font-size: calc(14px - (14 - 12) * (1280px - 100vw) / (1280 - 768));
  }
}

@media screen and (max-width: 768px) {
  .techs__text {
    line-height: 1.5;
  }

  .techs__item {
    line-height: 1.25;
    padding: 21px 0;
  }
}

@media screen and (max-width: 748px) {
  .techs__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
  }
}

@media screen and (max-width: 530px) {
  .techs {
    background-color: transparent;
  }

  .techs__title {
    line-height: 1.2;
  }

  .techs__text {
    line-height: 1.45;
  }

  .techs__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 10px;
    margin: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .techs {
    padding: 0 calc(50px - (50 - 18) * (768px - 100vw) / (768 - 320));
    min-height: calc(567px + (651 - 567) * (768px - 100vw) / (768 - 320));
  }

  .techs__title {
    margin: calc(80px - (80 - 60) * (768px - 100vw) / (768 - 320)) 0 0;
    font-size: calc(50px - (50 - 30) * (768px - 100vw) / (768 - 320));
  }

  .techs__text {
    margin: calc(22px + (24 - 22) * (768px - 100vw) / (768 - 320)) 0 0;
    font-size: calc(12px - (12 - 11) * (768px - 100vw) / (768 - 320));
  }

  .techs__list {
    margin: calc(83px - (83 - 50) * (768px - 100vw) / (768 - 320)) 0 50px;
  }

  .techs__item {
    width: 84px;
    font-size: 12px;
  }
}